#root {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: url(/src/assets/flow-bg.png);
  background-size: cover;
}

#root::before {
  position: absolute;
  inset: 0;
  content: '';
  background: hsla(190deg,50%,50%, 0.5);
}

.logo {
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #c861fbaa);
}
